@import "compass";

@import "compass/reset";

$max-content-width: 950px;

body {
	background: #f4f4f4;

	> header {
		max-width: $max-content-width;
		margin: 0 auto;
		text-align:center;
		padding: 20px 0;
	}

	> footer {
		max-width: $max-content-width;
		margin: 0 auto;
		text-align:center;
		padding: 20px 0;
	}

	> .content {
		max-width: $max-content-width - 40px;
		margin: 0 auto;
		background: #fff;
		@include border-radius(4px);
		padding: 20px;

		> *:first-child {
			margin-top: 0;
		}

		> :last-child {
			margin-bottom: 0;
		}
	}
}