<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
  <title>Website</title>
  <meta name="apple-mobile-web-app-capable" content="yes" />

  <link rel="shortcut icon" href="favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57-precomposed.png">

  <%= stylesheet_link_tag 'app' %>
  <%= javascript_include_tag 'all' %>
</head>

<body class="<%= page_classes %>">
<%= partial 'header' %>
<%= yield %>
<%= partial 'footer' %>
</body>
</html>